.gameEnd {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.message , .points, .winOrLose {
    color:white;
    font-size:24px;
    font-weight:bold;
}