.App{
    display:flex;
    flex-direction:column;
    height:100vh;
    background:-moz-radial-gradient(circle at 40% 53%, rgba(10, 10, 11, 1) 0%, rgba(37, 41, 57, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 40% 53%, rgba(10, 10, 11, 1) 0%, rgba(37, 41, 57, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 40% 53%, rgba(10, 10, 11, 1) 0%, rgba(37, 41, 57, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 40% 53%, rgba(10, 10, 11, 1) 0%, rgba(37, 41, 57, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 40% 53%, rgba(10, 10, 11, 1) 0%, rgba(37, 41, 57, 1) 100%);
}